{% extends "base_registration.html" %}
{% load form_tags %}

{% block main %}
<section class="panel">
	<header class="panel-heading text-center">
		Sign in
	</header>
	<form action="" method="post" class="panel-body">
		{% csrf_token %}
		{{ form|as_template }}
		<a href="{% url 'auth_password_reset' %}" class="pull-right m-t-xs"><small>Forgot password?</small></a>
		<button type="submit" class="btn btn-info">Sign in</button>
		<div class="line line-dashed"></div>
		<p class="text-muted text-center"><small>Do not have an account?</small></p>
		<a href="{% url 'registration_register' %}" class="btn btn-facebook btn-block m-b-sm">Create an account</a>
	</form>
</section>
{% endblock %}
