{% extends "base_registration.html" %}
{% load form_tags %}

{% block main %}
<section class="panel">
	<header class="panel-heading bg bg-primary text-center">
		Sign up
	</header>

	<form action="" method="post" class="panel-body">
		{% csrf_token %}
		{{ form|as_template }}
		<button type="submit" class="btn btn-info">Sign up</button>
		<div class="line line-dashed"></div>
		<p class="text-muted text-center"><small>Already have an account?</small></p>
		<a href="{% url 'auth_login' %}" class="btn btn-white btn-block">Sign in</a>
	</form>
</section>
{% endblock %}
