{% extends "base.html" %}
{% load staticfiles %}

{% block main %}

<section id="content">
  <section class="vbox">

    <header class="header b-b bg-white">
      <div class="input-group input-s pull-right m-t-sm">
        <span class="input-group-addon input-sm"><i class="icon-search"></i></span>
        <input type="text" class="form-control input-sm" id="search-note" placeholder="search">
      </div>
      <div class="btn-group pull-left">
        <a href="{% url 'home' %}" type="button" class="btn btn-sm btn-white"> 
          <i class="icon-chevron-left"></i> Back
        </a>
      </div>
    </header>

    <section class="scrollable wrapper">          
      <div class="row">
        <div class="col-sm-9">
          <div class="blog-post">
            <div class="post-item">

              <div class="caption wrapper-lg">
                <h2 class="post-title"><a href="#">{{ item.title }}</a></h2>
                <br>
                <div class="post-sum">
                  {{ item.description|safe }}
                  <br>

                  <div class="pull-right">
                    <div class="m-b-sm">
                      <div class="btn-group">
                        <a type="button" class="btn btn-white">Raw</a>
                        <a id="copy-script" type="button" class="btn btn-white">Quick Copy</a>
                      </div>              
                    </div>
                  </div>

                  <div class="span12">
                    <pre id="script" class="prettyprint lang-html ">
                      {{ item.script }}
                    </pre>
                  </div>

                </div>

                <div class="tags m-b-lg">
                  {% for tag in item.tags.all %}
                  <a href="#" class="label bg_success">{{ tag }}</a>
                  {% endfor %}
                </div>

                <div class="line line-lg"></div>

                <div class="text-muted">
                  <i class="icon-user icon-muted"></i> by <a href="{% url 'profile-detail' item.user " class="m-r-sm">{{ item.user }}</a>
                  <i class="icon-time icon-muted"></i> {{ item.created_at|date:'M d, Y' }}
                  <a href="#" class="m-l-sm"><i class="icon-comment-alt icon-muted"></i> {{ item.comments.all|length }} comments</a>
                </div>
              </div>
            </div>

          </div>

          <h4 class="m-t-lg m-b">3 Comments</h4>
          <section class="comment-list block">
            <article id="comment-id-1" class="comment-item">
              <a class="pull-left thumb-sm">
                <img src="{% static 'images/chris.jpg' %}" class="img-rounded">
              </a>
              <section class="comment-body m-b">
                <header>
                  <a href="#"><strong>Chris Favaloro</strong></a>
                  <label class="label bg-info m-l-xs">Editor</label> 
                  <span class="text-muted text-xs block m-t-xs">
                    24 minutes ago
                  </span>
                </header>
                <div class="m-t-sm">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id neque quam. Aliquam sollicitudin venenatis ipsum ac feugiat. Vestibulum.</div>
              </section>
            </article>
            <!-- .comment-reply -->
            <article id="comment-id-2" class="comment-item comment-reply">
              <a class="pull-left thumb-sm">
                <img src="{% static 'images/avatar.jpg' %}" class="img-rounded">
              </a>
              <section class="comment-body m-b">
                <header>
                  <a href="#"><strong>John smith</strong></a>
                  <label class="label bg-dark m-l-xs">Admin</label> 
                  <span class="text-muted text-xs block m-t-xs">
                    26 minutes ago
                  </span>
                </header>
                <div class="m-t-sm">Lorem ipsum dolor sit amet, consecteter adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet.</div>
              </section>
            </article>
            <!-- / .comment-reply -->
            <article id="comment-id-2" class="comment-item">
              <a class="pull-left thumb-sm">
                <img src="{% static 'images/avatar.jpg' %}" class="img-rounded">
              </a>
              <section class="comment-body m-b">
                <header>
                  <a href="#"><strong>John smith</strong></a>
                  <label class="label bg-dark m-l-xs">Admin</label> 
                  <span class="text-muted text-xs block m-t-xs">
                    26 minutes ago
                  </span>
                </header>
                <blockquote class="m-t">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                  <small>Someone famous in <cite title="Source Title">Source Title</cite></small>
                </blockquote>
                <div class="m-t-sm">Lorem ipsum dolor sit amet, consecteter adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet.</div>
              </section>
            </article>
          </section>

          <h4 class="m-t-lg m-b">Leave a comment</h4>
          <form>
            <div class="form-group">
              <label>Comment</label>
              <textarea class="form-control" rows="5" placeholder="Type your comment"></textarea>
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-success">Submit comment</button>
            </div>
          </form>
        </div>

        <div class="col-sm-3">
          <a href="#add-toolbox" data-toggle="modal" class="btn btn-success btn-lg">
            Add To Toolbox<i class="icon-plus"></i>
          </a>
          <br><br>

          <h5 class="font-semibold">Stats</h5>

          <button class="btn btn-white">
            <span class="text">
              Beta Toolbox Adds: <strong>{{ item.buckets.all|length }}</strong></i> 
            </span>  
          </button>
          <button class="btn btn-white">
            <span class="text">
              Date Added : <strong>{{ item.created_at|date:'SHORT_DATE_FORMAT' }}</strong></i> 
            </span>
          </button>
          <br><br>

          <h5 class="font-semibold">About Developer</h5>
          <div class="line line-dashed"></div>
          <div class="m-b-lg">
            <span class="pull-left thumb-sm avatar m-r-sm m-t-xs">
              <img src="{% static 'images/nick.jpg' %}" class="img-circle">
            </span>
            <p class="clear text-sm">
              <a href="profile.php" class="text-info">@{{ item.user }}</a> : {{ item.user.profile.bio }}
            </p>
          </div>

          <div class="line line-dashed"></div>

          <div class="m-t-sm m-b-lg">
            {% with profile=item.user.profile %}
            {% if profile.website %}
            <a href="{{ profile.website }}" title="Website" class="btn btn-rounded btn-warning btn-icon">
              <i class="icon-rss"></i>
            </a>
            {% endif %}
            {% if profile.twitter %}
            <a href="{{ profile.twitter }}" title="Twitter" class="btn btn-rounded btn-twitter btn-icon">
              <i class="icon-twitter"></i>
            </a>
            {% endif %}
            {% if profile.facebook %}
            <a href="{{ profile.facebook }}" title="Facebook" class="btn btn-rounded btn-facebook btn-icon">
              <i class="icon-facebook"></i>
            </a>
            {% endif %}
            {% if profile.google %}
            <a href="{{ profile.google }}" title="Google+" class="btn btn-rounded btn-gplus btn-icon">
              <i class="icon-google-plus"></i>
            </a>
            {% endif %}
            {% if profile.linkedin %}
            <a href="{{ profile.linkedin }}" title="LinkedIn" class="btn btn-rounded btn-info btn-icon">
              <i class="icon-linkedin"></i>
            </a>
            {% endif %}
            {% endwith %}
          </div>

          <h5 class="font-semibold">Similar Results (TODO)</h5>
          <div class="line line-dashed"></div>

          <ul class="list-unstyled m-b-lg">
            {% include "item/_item.html" with items=similar_results %}
          </ul>

        </article>
      </div>
    </div>
  </div>
</section>
</section>
<a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen" data-target="#nav"></a>
</section>
<!-- /.vbox -->
</section>
{% endblock %}
