{% extends "base.html" %}
{% load staticfiles %}

{% block main %}
{% include "includes/sidebar.html" %}

<!-- .aside -->
<aside class="bg-light lter">
	<section class="vbox">
		<header class="bg-light dker header clearfix">
			<div class="btn-group pull-right">
				{% if user.username %}
				<a href="{% url 'item-create' %}" class="btn btn-success btn-sm pull-right" data-toggle="modal">
					New Code<i class="icon-plus"></i>
				</a>
				{% else %}
				<a href="{% url 'registration_register' %}" class="btn btn-success btn-sm pull-right" data-toggle="modal">
					New Code<i class="icon-plus"></i>
				</a>
      	{% endif %}
			</div>
			<div class="btn-toolbar">
				<h4>All Results</h4>    
			</div>
		</header>            
		<section class="scrollable hover">
			<ul class="list-group no-radius m-b-none m-t-n-xxs list-group-alt list-group-lg">
				{% for item in user_items %}
          <li class="list-group-item">

          	{% comment %}
            <a href="{% url 'profile-detail' item.user %} " class="thumb-xs pull-left m-r-sm">
	            <img src="{% static 'images/avatar_default.jpg' %}" class="img-circle">
	            <!--
							<img src="{{ user.profile.image.url }}" class="img-circle">
	            -->
	          </a>
	          {% endcomment %}

	          <div class="clear">
	            <a href="{% url 'item-detail' item.id item.slug %}">
	              <strong>{{ item.title|title }}:</strong>
	              {# use CSS to do this in the future! #}
	              <small>{{ item.description|truncatewords:28 }}</small>
	            </a>
	            <small class="pull-right">
              	{# need different classes for dif color dots #}
                {% for tag in item.tag.all %}
                <a href="{% url 'item-list' %}?tag={{ tag.id }}">
                	<span class="label label-sm bg-danger text-uc">{{ tag.name }}</span>
                </a>
                {% endfor %}
              </small>
            </div>
          </li>
        {% endfor %}
			</ul>
		</section>

		{% include "includes/profile_search.html" %}
	</section>
</aside>
<!-- /.aside -->


</section>
</section>
<!-- /.vbox -->
</section>

{% endblock %}

{% block extra_js %}
<script>
$(function() {
	//ajax following
	$('#btn_follow').on('click', function() {
	  var self = $(this);
	  var data = {
	      'csrfmiddlewaretoken': $("input[name='csrfmiddlewaretoken']").val(),
	      'user': {{ user.id }},
	      'following': {{ profile.user.id }}
	    };
	  console.log(data);
	  $.ajax({
	    url: '/api/followers/',
	    method: 'post',
	    data: data,
	    success: function(res) {
	      console.log('success');
	      console.log(res);
	      self
	        .find('i').removeClass('icon-eye-close').addClass('icon-eye-open')
	        .next('.btn_txt').html('Following');
	    },
	    error: function(res) {
	      console.log('error');
	      console.log(res);
	    }
	  });
	});
});
</script>
{% endblock %}
