{% extends "base.html" %}
{% load staticfiles %}

{% block main %}
{% include "includes/sidebar.html"  %}

<!-- .aside -->
<aside class="bg-light lter">
	<section class="vbox">
		<header class="bg-light dker header clearfix">
      {% if user.username %}
			<div class="btn-group pull-right">
				<a href="#add-bucket" class="btn btn-success btn-sm pull-right" data-toggle="modal">Add New To Toolbox<i class="icon-plus"></i></a>
			</div>
      {% endif %}
			<div class="btn-toolbar">
				<h4>All Results</h4>    
			</div>
		</header>            
		<section class="scrollable hover">
			<ul class="list-group no-radius m-b-none m-t-n-xxs list-group-alt list-group-lg">
				{% for item in user_items %}
          <li class="list-group-item">
            <a href="{% url 'profile-detail' item.user %} " class="thumb-xs pull-left m-r-sm">
	            <img src="{% static 'images/avatar_default.jpg' %}" class="img-circle">
	            <!--
							<img src="{{ user.profile.image.url }}" class="img-circle">
	            -->
	          </a>
            <a href="{% url 'item-detail' item.id item.slug %}" class="clear">
              <small class="pull-right">
              	{# need different classes for dif color dots #}
                {% for tag in item.tag.all %}
                <span class="label label-sm bg-danger text-uc">{{ tag.name }}</span>
                {% endfor %}
              </small>
              <strong class="block">{{ item.title }}</strong>
              <small>{{ item.description }}</small>
            </a>
          </li>
        {% endfor %}
			</ul>
		</section>

		<footer class="footer b-t bg-white-only">
			<form class="m-t-sm">
				<div class="input-group">
					<input type="text" class="input-sm form-control input-s-sm" placeholder="Search Your Toolbox...">
					<div class="input-group-btn">
						<button class="btn btn-sm btn-white"><i class="icon-search"></i></button>
					</div>
				</div>
			</form>
		</footer>
	</section>
</aside>
<!-- /.aside -->


<!-- WTF is this shit? -->
<!-- .aside -->
<aside class="bg-white hide col-lg-6 b-l" id="email-content">
	<section class="vbox">
		<section class="scrollable hover">
			<div class="wrapper b-b">
				<a href="#" data-toggle="class" class="pull-left"><i class="icon-star-empty icon-xlarge text"></i><i class="icon-star text-warning icon-xlarge text-active"></i></a>
				<a href="#email-content" data-toggle="class:show" class="pull-right text">
					<i class="icon-trash"></i>
				</a>
				<h4 class="m-n">Kickoff meeting</h4>
			</div>
			<div class="text-sm padder m-t">
				<div class="block clearfix m-b">
					<a href="#" class="thumb-xs inline"><img src="images/avatar.jpg" class="img-circle"></a> 
					<span class="inline m-t-xs">Mika Sokeil
						&lt;mica_sokeil@gmail.com&gt; to me</span>
						<div class="pull-right inline">May 12 (<em>4 days ago</em>)                         
							<div class="btn-group">
								<button class="btn btn-white btn-xs" data-toggle="tooltip" data-title="Reply"><i class="icon-reply"></i></button>
								<button class="btn btn-white btn-xs dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
								<ul class="dropdown-menu pull-right">
									<li><a href="#"><i class="icon-reply"></i> Reply</a></li>
									<li><a href="#"><i class="icon-signout"></i> Forward</a></li>
									<li><a href="#">Add Mika Sokeil to contact list</a></li>
									<li><a href="#">Mark as unread</a></li>
									<li class="divider"></li>
									<li><a href="#">Delete this message</a></li>
									<li><a href="#">Report spam</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="line pull-in"></div>
					<p>Mr. Soe</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id neque quam. Aliquam sollicitudin venenatis ipsum ac feugiat. Vestibulum ullamcorper sodales nisi nec condimentum. Mauris convallis mauris at pellentesque volutpat. Phasellus at ultricies neque, quis malesuada augue. Donec eleifend condimentum nisl eu consectetur. Integer eleifend, nisl venenatis consequat iaculis, lectus arcu malesuada sem, dapibus porta quam lacus eu neque.</p>
					<blockquote>
						<em>Morbi nec nunc condimentum, egestas dui nec, fermentum diam. Vivamus vel tincidunt libero, vitae elementum ligula. Nunc placerat purus quam, ac adipiscing arcu rutrum eu. Vestibulum adipiscing ut augue ut auctor. Vestibulum nec lorem imperdiet nibh mollis gravida ut a justo.<br><br>Vestibulum ullamcorper sodales nisi nec condimentum. Mauris convallis mauris at pellentesque volutpat. Phasellus at ultricies neque, quis malesuada augue. Donec eleifend condimentum nisl eu consectetur. Integer eleifend, nisl venenatis consequat iaculis</em>
					</blockquote>
					<div class="show">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id neque quam. Aliquam sollicitudin venenatis ipsum ac feugiat. Vestibulum ullamcorper sodales nisi nec condimentum. Mauris convallis mauris at pellentesque volutpat. Phasellus at ultricies neque, quis malesuada augue. Donec eleifend condimentum nisl eu consectetur. Integer eleifend, nisl venenatis consequat iaculis, lectus arcu malesuada sem, dapibus porta quam lacus eu neque.</p>
						<p>Duis non malesuada est, quis congue nibh. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id neque quam. Aliquam sollicitudin venenatis ipsum ac feugiat. Vestibulum ullamcorper sodales nisi nec condimentum. Mauris convallis mauris at pellentesque volutpat. Phasellus at ultricies neque, quis malesuada augue. Donec eleifend condimentum nisl eu consectetur. Integer eleifend, nisl venenatis consequat iaculis, lectus arcu malesuada sem, dapibus porta quam lacus eu neque.</p>
						<p>Duis non malesuada est, quis congue nibh. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id neque quam. Aliquam sollicitudin venenatis ipsum ac feugiat. Vestibulum ullamcorper sodales nisi nec condimentum. Mauris convallis mauris at pellentesque volutpat. Phasellus at ultricies neque, quis malesuada augue. Donec eleifend</p>
					</div>
					<p>Best Regards<br>Mical</p>
				</div>
				<div class="padder">
					<div class="panel text-sm bg-light">
						<div class="panel-body">
							Click here to <a href="#">Reply</a> or <a href="#">Forward</a>
						</div>
					</div>
				</div>
			</section>
		</section>
	</aside>
	<!-- /.aside -->   
</section>
</section>
<!-- /.vbox -->
</section>

<!--
<section id="content">
  <section class="vbox">
    <header class="header bg-white b-b">
      <p>Welcome to Nick's profile</p>
    </header>
    <section class="scrollable">
      <section class="hbox stretch">
        <aside class="aside-lg bg-light lter b-r">
          <section class="vbox">
            <section class="scrollable">
              <div class="wrapper">
                <div class="clearfix m-b">
                  <a href="#" class="pull-left thumb m-r">
                    <img src="{% static 'images/nick.jpg' %}" class="img-circle">
                  </a>
                  <div class="clear">
                    <div class="h3 m-t-xs m-b-xs text-info">@{{ user }}</div>
                    <small class="text-muted"><i class="icon-map-marker"></i> Tampa, FL</small>
                  </div>                
                </div>
                <div class="panel wrapper">
                  <div class="row">
                    <div class="col-xs-6">
                      <a href="#">
                        <span class="m-b-xs h3 block">{{ follower_count }}</span>
                        <small class="text-muted">Followers</small>
                      </a>
                    </div>
                    <div class="col-xs-6">
                      <a href="#">
                        <span class="m-b-xs h3 block">{{ following_count }}</span>
                        <small class="text-muted">Following</small>
                      </a>
                    </div>

                  </div>
                </div>
                <div class="btn-group btn-group-justified m-b">
                  <a class="btn btn-success btn-rounded" data-toggle="button">
                    <span class="text">
                      <i class="icon-eye-open"></i> Follow
                    </span>
                    <span class="text-active">
                      <i class="icon-eye-open"></i> Following
                    </span>
                  </a>

                </div>
                <div>
                  <small class="text-uc text-xs text-muted">About Me</small>
                  <p>{{ profile.bio }}</p>
                  <small class="text-uc text-xs text-muted">info</small>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id neque quam. Aliquam sollicitudin venenatis ipsum ac feugiat.</p>
                  <div class="line"></div>
                  <small class="text-uc text-xs text-muted">connection</small>
                  <p class="m-t-sm">
                    {% include 'includes/social_icons.html' with profile=profile %}
                  </p>
                </div>
              </div>
            </section>
          </section>
        </aside>
        <aside class="bg-white">
          <section class="vbox">
            <header class="header bg-light bg-gradient">
              <ul class="nav nav-tabs nav-white">
                <li class="active"><a href="#recent" data-toggle="tab">Recent Tools Created</a></li>
                <li class=""><a href="#feed" data-toggle="tab">Feed</a></li>
                <li class=""><a href="#settings" data-toggle="tab">Settings</a></li>

              </ul>
            </header>
            <section class="scrollable">
              <div class="tab-content">
                <div class="tab-pane active" id="recent">
                  <ul class="list-group no-radius m-b-none m-t-n-xxs list-group-lg no-border">
                    {% for item in recently_created %}
                    <li class="list-group-item">
                      <a href="#" class="thumb-sm pull-left m-r-sm">
                      </a>
                      <a href="#" class="clear">
                        <small class="pull-right">
                          {% for tag in item.tag.all %}
                          <span class="label label-sm bg-danger text-uc">{{ tag.name }}</span>
                          {% endfor %}
                        </small>
                        <strong class="block">{{ item.title }}</strong>
                        <small>{{ item.description }}</small>
                      </a>
                    </li>
                    {% endfor %}

                    <li class="list-group-item">
                      <a href="#" class="thumb-sm pull-left m-r-sm">
                      </a>
                      <a href="#" class="clear">
                        <small class="pull-right"><span class="label label-sm bg-danger text-uc">.Htaccess</span></small>
                        <strong class="block">.HTacess Subdomain Rewrites</strong>
                        <small>Morbi nec nunc condimentum...</small>
                      </a>
                    </li>

                    <li class="list-group-item">
                      <a href="#" class="thumb-sm pull-left m-r-sm">
                      </a>
                      <a href="#" class="clear">
                        <small class="pull-right"><span class="label label-sm bg-success text-uc">Python</span></small>
                        <strong class="block">Python Date Fix</strong>
                        <small>Morbi nec nunc c orbi nec orbi necondimentum...</small>
                      </a>
                    </li>

                    <li class="list-group-item">
                      <a href="#" class="thumb-sm pull-left m-r-sm">
                      </a>
                      <a href="#" class="clear">
                        <small class="pull-right"><span class="label label-sm bg-success text-uc">PHP</span></small>
                        <strong class="block">PHP Date Distance</strong>
                        <small>404 Fix for this redirect thing i was talking about this one time here ..</small>
                      </a>
                    </li>

                    <li class="list-group-item">
                      <a href="#" class="thumb-sm pull-left m-r-sm">
                      </a>
                      <a href="#" class="clear">
                        <small class="pull-right"><span class="label label-sm bg-danger text-uc">.Htaccess</span></small>
                        <strong class="block">JQuery Prompt Fix</strong>
                        <small>Jquery this and that goes here with that...</small>
                      </a>
                    </li>
                    <li class="list-group-item">
                      <a href="#" class="thumb-sm pull-left m-r-sm">
                      </a>
                      <a href="#" class="clear">
                        <small class="pull-right"><span class="label label-sm bg-primary text-uc">Codeigniter</span></small>
                        <strong class="block">CI Fix & Tasks</strong>
                        <small>Another good amount of example text goes in this location ..</small>
                      </a>
                    </li>

                    <li class="list-group-item">
                      <a href="#" class="thumb-sm pull-left m-r-sm">
                      </a>
                      <a href="#" class="clear">
                        <small class="pull-right"><span class="label label-sm bg-primary text-uc">Codeigniter</span></small>
                        <strong class="block">Codeigniter Custom Inner Joins</strong>
                        <small>Inner joins go here about this and that ..</small>
                      </a>
                    </li>

                    <li class="list-group-item">
                      <a href="#" class="thumb-sm pull-left m-r-sm">
                      </a>
                      <a href="#" class="clear">
                        <small class="pull-right"><span class="label label-sm bg-danger text-uc">.Htaccess</span></small>
                        <strong class="block">404 Custom Rediret</strong>
                        <small>404 Fix for this redirect thing i was talking about this one time here ..</small>
                      </a>
                    </li>

                    <li class="list-group-item">
                      <a href="#" class="thumb-sm pull-left m-r-sm">
                      </a>
                      <a href="#" class="clear">
                        <small class="pull-right"><span class="label label-sm bg-danger text-uc">.Htaccess</span></small>
                        <strong class="block">404 Custom Rediret</strong>
                        <small>404 Fix for this redirect thing i was talking about this one time here ..</small>
                      </a>
                    </li>




                  </ul>
                </div>
                <div class="tab-pane" id="feed">
                  <div class="text-center wrapper">
                    <i class="icon-spinner icon-spin icon-large"></i>
                  </div>
                </div>
                <div class="tab-pane" id="settings">



                  <div class="tab-content">
                    <section class="tab-pane active" id="basic">
                      <div class="row">
                        <div class="col-sm-12">
                          <section class="panel">
                            <header class="panel-heading font-bold">Social Network Profiles</header>
                            <div class="panel-body">
                              <form role="form">
                                <div class="input-group m-b">
                                  <span class="input-group-addon btn-facebook"><i class="icon-facebook"></i></span>
                                  <input type="text" class="form-control" placeholder="Facebook Profile Link">
                                </div>
                                <div class="input-group m-b">
                                  <span class="input-group-addon btn-gplus"><i class="icon-google-plus"></i></span>
                                  <input type="text" class="form-control" placeholder="Google Plus Link">
                                </div>
                                <div class="input-group m-b">
                                  <span class="input-group-addon btn-twitter"><i class="icon-twitter"></i></span>
                                  <input type="text" class="form-control" placeholder="Twitter Profile Link">
                                </div>
                                <div class="input-group m-b">
                                  <span class="input-group-addon btn-info"><i class="icon-linkedin"></i></span>
                                  <input type="text" class="form-control" placeholder="Linkedin Profile Link">
                                </div>                     
                                <button type="submit" class="btn btn-sm btn-default">Save Settings</button>
                              </form>
                            </div>
                          </section>
                        </div>
                      </div>

                      <br>
                      <div class="tab-content">
                        <section class="tab-pane active" id="basic">
                          <div class="row">
                            <div class="col-sm-12">
                              <section class="panel">
                                <header class="panel-heading font-bold">Profile Information</header>
                                <div class="panel-body">
                                  <form role="form">
                                    <div class="form-group">
                                      <input type="text" class="form-control" placeholder="First Name">
                                    </div>

                                    <div class="form-group">
                                      <input type="text" class="form-control" placeholder="Last Name">
                                    </div>

                                    <div class="form-group">
                                     <input type="text" class="form-control" placeholder="City">
                                   </div>

                                   <div class="form-group">
                                    <input type="text" class="form-control" placeholder="State">
                                  </div>

                                  <button type="submit" class="btn btn-sm btn-default">Save Profile Information</button>
                                </form>
                              </div>
                            </section>
                          </div>
                        </div>
                        <br>

                        <div class="tab-content">
                          <section class="tab-pane active" id="basic">
                            <div class="row">
                              <div class="col-sm-12">
                                <section class="panel">
                                  <header class="panel-heading font-bold">Profile Image</header>
                                  <div class="panel-body">
                                    <form role="form">
                                      <div class="form-group">
                                        <label>Upload Profile Picture</label>
                                        <input type="file" class="form-control" placeholder="Enter email">
                                      </div>           
                                      <button type="submit" class="btn btn-sm btn-default">Save Profile Image</button>
                                    </form>
                                  </div>
                                </section>
                              </div>
                            </div>

                            <div class="text-center wrapper">
                              1) Social Inputs
                              2) Change Password
                              3) Upload profile picture
                            </div>
                          </div>
                        </div>
                      </section>
                    </section>
                  </aside>

                </section>
              </section>
            </section>
            <a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen" data-target="#nav"></a>
          </section>
-->
{% endblock %}
