{% extends "base.html" %}
{% load staticfiles %}
{% load form_tags %}


{% block main %}
{% include "includes/sidebar.html"  %}

<!-- .aside -->
<aside class="bg-light lter">
	<section class="vbox">
		<header class="bg-light dker header clearfix">
			<div class="btn-toolbar">
				<h4>Profile</h4>    
			</div>
		</header>            
		<section class="scrollable hover">
			<form action="" method="post" class="panel-body">
				{{ form|as_template }}
				<button type="submit" class="btn btn-info">Save</button>
			</form>
		</section>


	</section>
</aside>


</section>
</section>
<!-- /.vbox -->
</section>

{% endblock %}
