{% extends "base.html" %}
{% load staticfiles %}

{% block main %}
{% include "includes/sidebar.html" with buckets=buckets %}

<!-- .aside -->
<aside class="bg-light lter">
  <section class="vbox">
    <header class="bg-light dker header clearfix">
      <div class="btn-group pull-right">
        <button class="btn btn-success btn-sm pull-right">Add New To Toolbox<i class="icon-plus"></i></button>
      </div>
      <div class="btn-toolbar">
       <h4>All Results</h4>    
     </div>
    </header>
    <section class="scrollable hover">
      <ul class="list-group no-radius m-b-none m-t-n-xxs list-group-alt list-group-lg">
       {% for item in items %}
        <li class="list-group-item">
          <a href="#" class="thumb-xs pull-left m-r-sm">
            <img src="{% static 'images/avatar_default.jpg' %}" class="img-circle">
          </a>
          <a href="{% url 'item-detail' item.id item.slug %}" class="clear">
            <small class="pull-right">
              {% for tag in item.tags.all %}
                {# TODO: allow click to filter by tag #}
                <a href="#">
                  <span class="label label-sm bg-primary text-uc">{{ tag.title }}</span>
                </a>
              {% endfor %}
            </small>    
            <strong>{{ item.title }}</strong> 
            <span>: {{ item.body }}</span>
          </a>
        </li>
       {% endfor %}
      </ul>
    </section>
    
  
    <footer class="footer b-t bg-white-only">
      <form class="m-t-sm">
        <div class="input-group">
          <input type="text" class="input-sm form-control input-s-sm" placeholder="Search Your Toolbox...">
          <div class="input-group-btn">
            <button class="btn btn-sm btn-white"><i class="icon-search"></i></button>
          </div>
        </div>
      </form>
    </footer>
  </section>
</aside>
<!-- /.aside -->


{% endblock %}
