<!-- Create Bucket -->
<div class="modal fade" id="add-bucket">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-body">
      <div class="row">
        <div class="col-sm-12 b-r">
          <h3 class="m-t-none m-b">Add Bucket</h3>
          <p>Create a label for your new bucket.</p>
          <form role="form" action="{% url 'bucket-create' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
              <label>Bucket Name</label>
              <input name="name" type="bucket" class="form-control" placeholder="Example :  Ruby on Rails, Javascript, PHP, Python...">
            </div>
            
            <div class="checkbox m-t-lg">
              <button type="submit" class="btn btn-sm btn-success pull-right text-uc m-t-n-xs">
                <strong>Create Bucket</strong>
              </button>
            </div>                
          </form>
        </div>
        
      </div>          
    </div>
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div>
<!-- End Create Bucket -->
<!-- Toolbox Add -->
<div class="modal fade" id="add-toolbox">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-body">
      <div class="row">
        <div class="col-sm-12 b-r">
          <h3 class="m-t-none m-b">Add To Toolbox</h3>
          <p>Add to a specific toolbox</p>
          <form role="form" action="{% url 'item-add' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="item_id" id="item_id" value="{{ item.id }}">
            <div class="form-group">
                <div class="form-group">
                  <label class="col-sm-2 control-label">Select</label>
                  <div class="col-sm-10">
                    <select name="bucket_id" id="bucket_id" class="form-control m-b">
                      {% for bucket in user.bucket_set.all %}
                      <option value="{{ bucket.id }}">{{ bucket.title }}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
    		      <div class="line line-dashed line-lg pull-in"></div>

            </div>
            
            <div class="checkbox m-t-lg">
              <button type="submit" class="btn btn-sm btn-success pull-right text-uc m-t-n-xs">
                <strong>Add  To Toolbox</strong>
              </button>
              <button style="margin-right:5px;" type="submit" class="btn btn-sm btn-default pull-right text-uc m-t-n-xs">Cancel</button>
            </div>                
          </form>
        </div>
        
      </div>          
    </div>
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div>
<!-- End Create Bucket -->