{% load staticfiles %}
<section class="hbox stretch">
  <!-- .aside -->
  <aside class="bg-black aside-sm nav-vertical only-icon" id="nav">
    <section class="vbox">
      <header class="bg-danger dker nav-bar">
        <a class="btn btn-link visible-xs" data-toggle="class:nav-off-screen" data-target="#nav">
          <i class="icon-reorder"></i>
        </a>
        <a href="/" class="nav-brand">Beta</a>
        <a class="btn btn-link visible-xs" data-toggle="class:show" data-target=".nav-user">
          <i class="icon-comment-alt"></i>
        </a>
      </header>
      <section>
        <!-- nav -->
        <nav class="nav-primary hidden-xs">
          <ul class="nav">
            <li>
              <a href="/">
                <i class="icon-code"></i>
                <span>Toolbox</span>
              </a>
            </li>
            <li>
              <a href="{% url 'item-list' %}">
                <i class="icon-search"></i>
                <span>Search</span>
              </a>
            </li>
            {% if user.id %}
            <li>
              <a href="{% url 'profile-edit' %}">
                <i class="icon-gear"></i>
                <span>Settings</span>
              </a>
            </li>
            <li>
              <a href="{% url 'profile-detail' user %}">
                <i class="icon-user"></i>
                <span>Profile</span>
              </a>
            </li>
            {% endif %}
          </ul>
        </nav>
        <!-- / nav -->
      </section>

    </section>
  </aside>
  <!-- /.aside -->
  <!-- .vbox -->
  <section id="content">
    <section class="hbox stretch">
       