{% load staticfiles %}
<aside class="aside-lg bg-light lter b-r">
	<section class="vbox">
		<section class="scrollable">
			<div class="wrapper">
				<div class="clearfix m-b">
					{% comment %}
					<a href="#" class="pull-left thumb m-r">
						<img src="{% static 'images/nick.jpg' %}" class="img-circle">
					</a>
					{% endcomment %}
					<div class="clear text-center">
						<div class="h3 m-t-xs m-b-xs text-info">
							@{{ profile.user }}
						</div>
						<small class="text-muted"><i class="icon-map-marker"></i> Tampa, FL</small>
						{% if user == profile.user %}
						<div><small class="text-muted"><a href="/accounts/logout">Logout</a></small></div>
						{% endif %}
					</div>
				</div>
				<div class="panel wrapper">
					<div class="row">
						<div class="col-xs-6">
							<a href="{% url 'followers' profile.user %}">
								<span class="m-b-xs h3 block follower-count">{{ profile.follower_count }}</span>
								<small class="text-muted">Followers</small>
							</a>
						</div>
						<div class="col-xs-6">
							<a href="{% url 'following' profile.user %}">
								<span class="m-b-xs h3 block following-count">{{ profile.following_count }}</span>
								<small class="text-muted">Following</small>
							</a>
						</div>
					</div>
				</div>

				{# add if statement here to show social icons only if the profile is not the current users #}
				<p class="m-t-sm">
          {% include 'includes/social_icons.html' with profile=profile %}
        </p>


				<section>
					<section>

						<section class="vbox">
							<header class="">
								{% if user == profile.user %}
								<a href="#add-bucket" data-toggle="modal" class="btn btn-success btn-large">
									Add Burner<i class="icon-plus"></i>
								</a>
								{% else %}
									{% if user.username %}
										<div class="btn-group btn-group-justified m-b {% if not is_following %} btn-follow {% endif %}">
		                  <a class="btn btn-success btn-rounded">
		                  	{% if is_following %}
			                    <span class="text">
			                      <i class="icon-eye-open"></i>
			                      <span class="btn_txt">Following</span>
			                    </span>
		                    {% else %}
				                  <span class="text">
					                    <i class="icon-eye-close"></i>
					                    <span class="btn_txt">Follow</span>
				                  </span>
		                    {% endif %}
		                  </a>
		                </div>
		              {% else %}
		              	<div class="btn-group btn-group-justified m-b">
		                  <a href="{% url 'registration_register' %}" class="btn btn-success btn-rounded" data-user-id="{{ profile.user.id }}">
		                    <span class="text">
		                      <i class="icon-eye-open"></i>
		                      <span class="btn_txt">Follow</span>
		                    </span>
		                  </a>
		                </div>
		              {% endif %}
                {% endif %}
							</header>
							<section>

								<section id="mail-nav" class="hidden-xs">
									<ul class="nav nav-pills nav-stacked no-radius m-t-sm">
										<li class="padder dk text-sm l-h-2x">
											<p>Chemistry Set</p>
										</li>

										{% for bucket in buckets %}
										<li>
											<a href="{% url 'profile-detail' profile.user.username bucket.slug %}">
												{# TODO: needs {{ bucket.color }} in the icon class #}
												<i class="icon-circle text-success pull-right m-t-xs"></i>
												{{ bucket.title }}
											</a>
										</li>
										{% endfor %}

									</ul>
								</section>
							</section>
						</section>     

					</div>
				</section>
			</section>
		</aside>
<!-- /.aside -->


