{% if profile.website %}
<a href="{{ profile.website }}" target="_blank" title="Website" class="btn btn-rounded btn-warning btn-icon">
  <i class="icon-rss"></i>
</a>
{% endif %}

{% if profile.twitter %}
<a href="{{ profile.twitter }}" target="_blank" title="Twitter" class="btn btn-rounded btn-twitter btn-icon">
  <i class="icon-twitter"></i>
</a>
{% endif %}

{% if profile.facebook %}
<a href="{{ profile.facebook }}" target="_blank" title="Facebook" class="btn btn-rounded btn-facebook btn-icon">
  <i class="icon-facebook"></i>
</a>
{% endif %}

{% if profile.google %}
<a href="{{ profile.google }}" target="_blank" title="Google+" class="btn btn-rounded btn-gplus btn-icon">
  <i class="icon-google-plus"></i>
</a>
{% endif %}

{% if profile.linkedin %}
<a href="{{ profile.linkedin }}" target="_blank" title="LinkedIn" class="btn btn-rounded btn-info btn-icon">
  <i class="icon-linkedin"></i>
</a>
{% endif %}

{% if profile.stackoverflow %}
<a href="{{ profile.stackoverflow }}" target="_blank" title="Website" class="btn btn-rounded btn-warning btn-icon">
  <i class="icon-rss"></i>
</a>
{% endif %}

{% if profile.github %}
<a href="{{ profile.github }}" target="_blank" title="Website" class="btn btn-rounded btn-warning btn-icon">
  <i class="icon-rss"></i>
</a>
{% endif %}
